.img-container { padding-top: 20px; }
.img-ssb4 { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background:url("../imgs/sprite_sheet.png") no-repeat 0 0 orange; width:192px; height:127px; }
.center-block { display:block; margin-left:auto; margin-right:auto; }
